body {
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

@media (max-width: 768px){
    .jumbotron .container {
        max-width: 40rem;
    }
}


.album {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #e8e8e8;
}

.card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
}

.card > img {
    margin-bottom: .75rem;
}

.card-text {
}

.carousel{
    margin-bottom: 1rem;
}

footer {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

footer p {
    margin-bottom: .25rem;
}

.project-description {
    margin-left: .5em;
}