
#resume{
    margin-top: 5%;

}

.resume-download{
    margin-top: 1vh;
}

footer.container{
    /*padding-left: 0;*/
    /*max-width: 40rem;*/
}


.container{
    overflow: hidden;
}

strong{
    font-weight: bolder;
}
.img-thumbnail{
    object-fit: cover;
    border: 1px solid #dee2e6;
    margin-top: 4px;
    margin-right: 4px;
    margin-left: .5em;
    margin-bottom: 4px;
    padding: 0;
}

.pb-15{
    padding-bottom: 15%;
}

.pb-20{
    padding-bottom: 20%;
}

#headshot{
    padding-left: 2px;
}
.card{
    padding: 0;
    background-color: #e8e8e8;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

@media (max-width: 768px) {
    #headshot, #head{
        display: none;
    }
    .navbar-brand {
        margin-left: 28px;
        font-size: 1.5rem;
    }

    .jumbotron-heading{
        font-size: 1.7rem !important;
    }
    .jumbotron{
        padding-top: 2rem !important;
        padding-bottom: .5rem !important;
    }


}

@media (max-width: 576px) {
    .navbar-brand{
        margin-left: 16px;
        font-size: 2rem;
    }
    #ohana{
        display: none;
    }
}

#ohana{
    transform: scale(.7);
}